anonymous_enable={{ anonymous_enable }}
local_enable={{ local_enable }}YES
write_enable={{ write_enable }}YES
local_umask={{ local_umask }}022
anon_upload_enable={{ anon_upload_enable }}YES
anon_mkdir_write_enable={{ anon_mkdir_write_enable }}YES

dirmessage_enable={{ dirmessage_enable }}YES
xferlog_enable={{ xferlog_enable }}YES
connect_from_port_20={{ connect_from_port_20 }}YES
chown_uploads={{ chown_uploads }}YES

xferlog_std_format={{ xferlog_std_format }}YES
listen={{ listen }}NO
listen_ipv6={{ listen_ipv6 }}YES

pam_service_name={{ pam_service_name }}vsftpd
userlist_enable={{ userlist_enable }}YES